<ion-view>
  <ion-pane>
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-content>
          <h2>{{title}}</h2>
          <div  ng-repeat="car in allCars">
            <div class="row" ng-if="$even">
              <a href="#/tab/home/{{car.car_id}}" class="col car-item">
                <img src="{{allCars[$index].imgUrl}}" class="icon" alt="Photo">
              </a>
              <a href="#/tab/home/{{allCars[$index + 1].car_id}}" class="col car-item">
                <img src="{{allCars[$index + 1].imgUrl}}" class="icon" alt="Photo">
              </a>
            </div>
          </div>
        </ion-content>
      </ion-side-menu-content>
      <my-side-menu></my-side-menu>
    </ion-side-menus>
  </ion-pane>
</ion-view>

